<div ng-controller="GallerieCtrl">
    <h1>Photos populaire sur instagram</h1>
    <div class="row gallery">
        <div class="col-md-3" ng-repeat="img in images">

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><span class="glyphicon glyphicon-heart">
                </span> {{img.likes.count}}  <span class="glyphicon glyphicon-list pull-right"> {{img.comments.count}}</span></h3>
            </div>
            <div class="panel-body">
                <a ng-click="openLightboxModal($index)">
                    <img class="main img-thumbnail" ng-src="{{img.images.low_resolution.url}}" alt=""/>
                </a>
                <div class="imgInfo">
                <img class="avatar img-circle" ng-src="{{img.user.profile_picture}}" alt=""/>  {{img.user.username}}
                </div>
            </div>
        </div>
        </div>



    </div>
</div>