*{
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
}
.main{
    display: block;
    width: 100%;
}
.avatar{
    width: 40px;
    margin-top :15px;
    margin-bottom :15px;
}
.imgInfo{
    margin-top: 10px;
    text-align: center;
}
.glyphicon-heart{
    color: red;
}