.main{
    display: block;
    width: 100%;
}
.avatar{
    width: 40px;
    margin-top :15px;
    margin-bottom :15px;
}
.imgInfo{
    background: lightgrey;
    margin-top: 10px;
}
.glyphicon-heart{
    color: red;
}